{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <body>

    <div class='table-responsive' align="center">

        <img src="../images/aboutus.png" width="1200" height="300" class="text-center" alt="logo">

    </div>

    </body>
{% endblock %}