{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <body>

    <div class='table-responsive' align="center">

        <img src="../images/aboutus.png" width="1200" height="300" class="text-center" alt="logo">
        <h2>About us!</h2>
        <p>We are a Go Karting Company providing services.</p>
        <p>You will find all your race records saved on this website and the ability to see other's progress too!</p>
        <p>Check the Accounts page to see more about other users.</p>
    </div>

    </body>
{% endblock %}