{% extends 'base.html.twig' %}

    {% block title %}Homepage{% endblock %}

    {% block body %}
        <body>
        <div class="text-center">
            <img src="../images/gokart.png" width="1000" height="300" class="text-center" alt="logo">
            <h2>Welcome to KartingD15!</h2>
            <p>You are currently at the Homepage!</p>
            <p>If you wish to navigate around the site, use the navigation bar located at the top of your page.</p>
            <p>Certain roles have access to additional features.</p>
        </div>
        </body>
    {% endblock %}
