{% extends 'base.html.twig' %}

{% block title %}Edit Account{% endblock %}

{% block body %}
    <div class='table-responsive' align="center">

        <h1>Edit Account</h1>
        {{ include('people/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('people/_delete_form.html.twig') }}
        <form class="form-group" style="padding-left:15px" action="{{ path('user_index') }}" method="post">
            <button class="btn btn-dark">Back</button>
        </form>
    </div>
{% endblock %}
